.login-page {
 height: 200px;
 position: relative;
 margin-top: 20%;
 left: 40%;
}

a:link {
 text-decoration: none;
}

footer {
 display: flex;
 flex-direction: column; 
 justify-content: center;
 align-items: center;
 margin-top: 100px;
}